<!-- footer section start -->

<footer>
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
    <h2><span class="typing-3"></span></h2>
    <ul id="media">
        <!-- facebook  -->
        <li style="--clr:#f75002;">
            <a href="mailto:venkat.init.333@gmail.com" target="-blank"><i class="fa-solid fa-envelope"></i>
            </a>
        </li>
        <!-- Twitter  -->
        <li style="--clr:#ffffff;">
            <a href="https://github.com/venkatinit" target="-blank"><i class="fa-brands fa-github"></i> </a>
        </li>
        <!-- Instagram  -->
        <li style="--clr:#e73f0c;">
            <a href="https://www.instagram.com/venkat_.__.___.__sam" target="-blank"><i
                    class="fa-brands fa-instagram"></i></a>
        </li>
        <!-- whatsapp  -->
        <li style="--clr:#04c214;">
            <a aria-label="Chat on WhatsApp" target="_blank" href="https://wa.me/9703099379"> <i
                    class="fa-brands fa-whatsapp"></i>
            </a>
        </li>
    </ul>

    <!-- <p>&copy; 2023 | All Rights Reserved |</p> -->
</footer>