<!-- home section start -->
<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Hello, my name is</div>
            <div class="text-2">VENKATESH SAMITHIKOTA</div>
            <div class="text-3">And I'm a <span class="typing"></span></div>
            <div class="classbox">
                <a href="https://www.naukri.com/mnjuser/profile " target="-blank">Hire me</a>
            </div>
        </div>
    </div>
</section>

<!-- about section start -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column column1 left">
                <!-- <img src="../../assets/images/venkat_1.jpeg" alt="img"> -->
                <!-- <img src="../../assets/images/venkat_2.jpeg" alt="img"> -->
                <img src="../../assets/images/venkat_5.jpg" alt="img">


            </div>
            <div class="column right">
                <div class="text">I'm Venkatesh Samithikota and I'm a <span class="typing-2"></span></div>
                <p> And I am 24 years young boy with dynamic and enthusiastic person looking for the job Web
                    Design and Development mostly specializing in front end development. A firm believer in my
                    own abilities, I am also a
                    team player who thrives in a challenging environment.I am an Experienced with new and
                    dynamics
                    project ideas. Well-versed in numerous programming languages including HTML5,CSS3,ANGULAR,
                    JavaScript and strong background in project management and customer relations. </p>
                <a href="../../assets/venkateshsamithikota_Resume-.pdf"
                    download="venkateshsamithikota_Resume.pdf">Download CV</a>
            </div>
        </div>
    </div>
</section>

<!-- services section start -->
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My services</h2>
        <div class="serv-content">
        </div>
    </div>
    <div class="container">
        <div class="box">
            <span id="first"> </span>
            <div class="content">
                <h2>Web Responsive</h2>
                <p>Web responsiveness ensures a seamless user experience by adapting website layouts and designs to
                    different devices and screen sizes.</p>
            </div>
        </div>
        <div class="box">
            <span id="second"></span>
            <div class="content">
                <h2>Web Development</h2>
                <p>
                    Web development involves creating and maintaining websites or web applications for online
                    functionality and user interaction.</p>
            </div>
        </div>
        <div class="box">
            <span id="third"></span>
            <div class="content">
                <h2>Web Integration</h2>
                <p>Web integration is the process of combining different software systems or components to work together
                    seamlessly and share data across the web.</p>
            </div>
        </div>
        <div class="box">
            <span id="fourth"></span>
            <div class="content">
                <h2>User Friendly Websites</h2>
                <p>User-friendly websites prioritize intuitive design and functionality to enhance the overall
                    experience for visitors.</p>
            </div>
        </div>
        <div class="box">
            <span id="fifth"></span>
            <div class="content">
                <h2>Angular Web development</h2>
                <p>Angular web development is building dynamic and responsive single-page applications using the Angular
                    framework for enhanced client-side functionality.</p>
            </div>
        </div>
        <div class="box">
            <span id="sixth"></span>
            <div class="content">
                <h2>Android web Development</h2>
                <p>Android web development focuses on creating mobile applications that leverage web technologies for
                    enhanced user experiences on Android devices.</p>
            </div>
        </div>
    </div>
</section>

<!-- skills section start -->
<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">My creative skills & experiences.</div>
                <p>Since beginning my journey as a Frontend developer nearly one-and -half years ago, I’ve done remote
                    work
                    for agencies, consulted for startups, and collaborated with talented people to create web
                    products for both business and consumer use.
                    <br><br>
                    I create successful responsive websites that are fast, easy to use, and built with best
                    practices. The main area of my expertise is front-end development, HTML, CSS, JS, building
                    small and medium web apps, custom plugins, features, animations, and coding interactive
                    layouts.
                    <br><br>

                    <br>
                    Visit my<a href="https://www.facebook.com/venkatesh.samithikota" target="-blank"
                        id="link">Facebook</a>for more details<a href="#contact" id="link">contact</a>me.

                </p>
                <a href="#contact">Know more</a>
            </div>
            <div class="column right  ">
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>90%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>50%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Angular</span>
                        <span>70%</span>
                    </div>
                    <div class="line php"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>Bootstrap</span>
                        <span>90%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>
                <!-- <div class="bars">
                    <div class="info">
                        <span>WordPress</span>
                        <span>75%</span>
                    </div>
                    <div class="line wordpress"></div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- project section start -->
<section class="teams" id="teams">
    <div class="max-width">
        <h2 class="title">My Projects</h2>
        <div #carousel class="carousel owl-carousel ">
            <div class="card">
                <div class="box">
                    <img src="../../assets/images/arkasolutions.png" alt="img">
                    <div class="text">ARKAS SOLUTIONS</div>
                    <!-- <p>SJS hot n spicy is and resturant project . </p> -->
                    <a href="https://arkassolutions.com" class="project" target="_blank">View
                        Project</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../../assets/images/tekadopt.jpeg" alt="img">
                    <div class="text">TEKADOPT</div>
                    <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                    <a href="https://tekadopt.com" class="project" target="_blank">View project</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../../assets/images/MOTIVE.png" alt="img">
                    <div class="text">MOTIVE CONSULTANCY </div>
                    <!-- <p>Deep Computer is an institution project .</p> -->
                    <a href="https://motiveoverseas.com" class="project" target="_blank">View Project</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../../assets/images/MYVIC.png" alt="img">
                    <div class="text">MYVIC GLOBAL</div>
                    <!-- <p>NRD Computer is an eCommerce project.</p> -->
                    <a href="https://myvicglobal.com" class="project" target="_blank">View Project</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../../assets/images/nilax.png" alt="img">
                    <div class="text">NILAX INFO SOLUTIONS</div>
                    <!-- <p>NRD Computer is an eCommerce project.</p> -->
                    <a href="https://nilaxinfosolutions.com" class="project" target="_blank">View Project</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- contact section start -->
<section class="contact" id="contact">
    <div class="max-width">
        <h2 class="title">Contact me</h2>
        <div class="contact-content">
            <div class="column left">
                <div class="text">Get in Touch</div>
                <p>If you are interested in working together? Please fill out the form aside with some info
                    about your project and I will get back to you as soon as I can. Please allow a couple days
                    for me to respond.</p>
                <div class="icons">
                    <div class="row">
                        <i class="fas fa-user"></i>
                        <div class="info">
                            <div class="head">Name</div>
                            <div class="sub-title">Venkatesh Samithikota</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="info">
                            <div class="head">Location</div>
                            <div class="sub-title">Hyderabad</div>
                        </div>
                    </div>
                    <div class="row">
                        <i class="fas fa-envelope"></i>
                        <div class="info">
                            <div class="head">Email</div>
                            <div class="sub-title">venkat.init.333@gmail.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column right">
                <div class="text">Message me</div>
                <form class="contact-form" (submit)="sendEmail($event)">
                    <div class="fields">
                        <div class="field name">
                            <input type="text" name="user_name" id="user_name" placeholder="Name" required>
                        </div>
                        <div class="field ">
                            <input type="text" class="form-control" autocomplete="off" placeholder="Mobile Number"
                                name="mobile_no" id="mobile_no"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);">
                        </div>

                    </div>
                    <div class="field ">
                        <div class="field email">
                            <input type="email" name="user_email" id="user_email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="field">
                        <input type="text" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="field textarea">
                        <textarea cols="30" name="message" id="message" rows="10" placeholder="Message.."
                            required></textarea>
                    </div>
                    <div class="button-area">
                        <button type="submit">Send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>